# Ignore virtual environment
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log and temporary files
*.log
*.tmp

# Ignore VS Code settings
.vscode/

# Ignore data files (CSV, Excel)
*.csv
*.xlsx

khadakpada.csv